
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

@font-face {
    font-family: "Cinzel-Medium";
    src: url(./Fonts/Cinzel-Medium.ttf) format("ttf"),
         url(./Fonts/Cinzel-Regular.ttf) format(".ttf");
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
    font-family: 'Ubuntu Condensed', sans-serif;
    color:#777
}


html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    padding: 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 30%);
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    border-bottom: 1px solid rgba(255, 255, 255, 30%);
}

.main-nav li {
        padding: 0 5%;
}

.main-header {
    background-color: rgba(0, 0, 0, 60% );
    background-image: url(./images/header.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Cinzel-Regular";
}